@charset "UTF-8";

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}


h1  {
    color: #1e402f;
}

h1#prin {       /* Só é aconselhável usar um elemento por id */
    color: #ffffff;
    text-align: center;
    background-color: #498a49;
}

h2 {
    color: #3c805e;
}

.basico {       /* É possível usar vários elementos em uma mesma class */
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #7f803c;
}

.avancado {
    color: #803c3c;
}

.destaque {     /* É possível usar várias class em um mesmo elemento */
    background-color: #8181027c;
}